/* Reset basico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo pagina */
body {
    font-family: Arial, sans-serif;
    color: #000;
    background-color: #fff;
}

/* Navbar */
nav {
    display: flex;
    margin: 0 auto;               
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;          
    background-color: #ffffff;  
    max-width: 1200px; 
    height: 200px;
}

nav h1 {
    margin: 0;
    color: #000;
    font-weight: bold;
    font-size: 2rem;
}

nav ul {
    list-style: none;             
    display: flex;                
    gap: 25px;                    
}

nav a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 0.9rem;
    transition: color 0.3s, transform 0.3s;
}

nav a:hover {
    color: rgb(133, 145, 156);
    transform: scale(1.2);
}

/* Galleria */
.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0;
    margin-right: auto;
    margin-bottom: 50px;
    margin-left: auto;
    max-width: 1200px;
}

/* OGNI foto */
.item {
    position: relative;   /* necessario per overlay */
    overflow: hidden;
}

/* Immagine */
.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* Overlay */
.overlay-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s;
    text-align: center;
    padding: 10px;
}

/* Mostra overlay su hover */
.item:hover .overlay-text {
    opacity: 1;
}

/* Footer */
footer {
    text-align: center;
    padding: 15px;
    font-size: 0.9rem;
}

/* Responsive */
@media (max-width: 900px) {
    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .gallery {
        grid-template-columns: 1fr;
    }

    nav {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    nav ul {
        flex-direction: column;
        gap: 10px;
    }
}
